<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="WageWorks.Foundation.Solr.SpatialSearch.CustomControls" assembly="WageWorks.Foundation.Solr.SpatialSearch" prefix="customfields" />
    </controlSources>
    <!--<contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <fieldMap>
            <typeMatches>
              <typeMatch typeName="geoLocation" type="WageWorks.Foundation.Solr.SpatialSearch.SpatialPoint, WageWorks.Foundation.Solr.SpatialSearch" fieldNameFormat="{0}_rpt" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
            </typeMatches>
            <fieldTypes>
              <fieldType fieldTypeName="latlon" returnType="geoLocation" />
            </fieldTypes>
          </fieldMap>
          <fieldReaders>
            <mapFieldByTypeName>
              <fieldReader fieldTypeName="latlon" fieldReaderType="WageWorks.Foundation.Solr.SpatialSearch.FieldReaders.SpatialPointFieldReader, WageWorks.Foundation.Solr.SpatialSearch" />
            </mapFieldByTypeName>
          </fieldReaders>
          <indexFieldStorageValueFormatter>
          <converters>
            <converter handlesType="WageWorks.Foundation.Solr.SpatialSearch.SpatialPoint,  WageWorks.Foundation.Solr.SpatialSearch"  typeConverter="WageWorks.Foundation.Solr.SpatialSearch.Converters.SpatialPointValueConverter, WageWorks.Foundation.Solr.SpatialSearch" />
          </converters>
          </indexFieldStorageValueFormatter>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
      <configuration>
        <indexes hint="list:AddIndex">
          <index id="sitecore_master_index">
            <patch:attribute name="type">WageWorks.Foundation.Solr.SpatialSearch.Provider.SwitchOnRebuildSolrSearchIndexWithSpatial, WageWorks.Foundation.Solr.SpatialSearch</patch:attribute>
            <param desc="rebuildcore" patch:after="param[@desc='core']">$(solrPrefix)_$(id)_sec</param>
          </index>
          <index id="sitecore_web_index">
            <patch:attribute name="type">WageWorks.Foundation.Solr.SpatialSearch.Provider.SwitchOnRebuildSolrSearchIndexWithSpatial, WageWorks.Foundation.Solr.SpatialSearch</patch:attribute>
            <param desc="rebuildcore" patch:after="param[@desc='core']">$(solrPrefix)_$(id)_sec</param>
          </index>
        </indexes>
      </configuration>
    </contentSearch>-->
  </sitecore>
</configuration>
