<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <solutionFramework>
            <indexing>
                <patch:attribute name="defaultProvider">pagecontent</patch:attribute>
                <providers>
                    <add name="pagecontent"
                         type="WageWorks.Feature.PageContent.Indexing.PageContentIndexingProvider, WageWorks.Feature.PageContent"
                         patch:before="add[@name='fallback']" />
                </providers>
            </indexing>
        </solutionFramework>
        <pipelines>
            <mvc.getXmlBasedLayoutDefinition>
                <processor patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.GetXmlBasedLayoutDefinition.GetFromLayoutField, Sitecore.Mvc']"
                           type="WageWorks.Feature.PageContent.Infrastructure.Pipelines.GetXmlBasedLayoutDefinition.GetFromLayoutField, WageWorks.Feature.PageContent"/>
            </mvc.getXmlBasedLayoutDefinition>
            <textReplacement>
                <processor type="WageWorks.Feature.PageContent.Pipelines.TextReplacement.TextReplacementProcessor, WageWorks.Feature.PageContent" singleInstance="true">
                    <textMappings hint="list">
                        <!--
              All patterns and values must be encoded
              -->
                        <trademark type="WageWorks.Feature.PageContent.Models.TextMapping, WageWorks.Feature.PageContent">
                            <pattern>(?&lt;!&lt;sup&gt;)&amp;reg;</pattern>
                            <value>&lt;sup&gt;&amp;reg;&lt;/sup&gt;</value>
                        </trademark>
                        <register type="WageWorks.Feature.PageContent.Models.TextMapping, WageWorks.Feature.PageContent">
                            <pattern>(?&lt;!&lt;sup&gt;)&amp;#174;</pattern>
                            <value>&lt;sup&gt;&amp;reg;&lt;/sup&gt;</value>
                        </register>

                        <copyright type="WageWorks.Feature.PageContent.Models.TextMapping, WageWorks.Feature.PageContent">
                            <pattern>(?&lt;!&lt;sup&gt;)&amp;copy;</pattern>
                            <value>&lt;sup&gt;&amp;copy;&lt;/sup&gt;</value>
                        </copyright>
                    </textMappings>
                </processor>
            </textReplacement>

            <renderField>
                <processor patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetTextFieldValue, Sitecore.Kernel']"
                           type="WageWorks.Feature.PageContent.Pipelines.RenderField.RunTextReplacement, WageWorks.Feature.PageContent" resolve="true"/>
            </renderField>
        </pipelines>

    </sitecore>
</configuration>