<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Alerts" description="Foundation Alerts" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate>
                        <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Foundation/Alerts" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>