<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
       <linkManager set:defaultProvider="Wageworks">
            <providers>
                <add name="Wageworks"
                     type="Wageworks.Foundation.Multisite.Providers.WageworksLinkProvider, Wageworks.Foundation.Multisite"
                     addAspxExtension="false"
                     alwaysIncludeServerUrl="false"
                     encodeNames="true"
                     languageEmbedding="never"
                     languageLocation="filePath"
                     lowercaseUrls="true"
                     shortenUrls="true"
                     useDisplayName="false" />
            </providers>
        </linkManager>
        <mediaLibrary>
            <mediaProvider>
                <patch:attribute name="type">Wageworks.Foundation.Multisite.Providers.WageworksMediaProvider, Wageworks.Foundation.Multisite</patch:attribute>
            </mediaProvider>
        </mediaLibrary>
    </sitecore>
</configuration>