<section class="page-utility container">
    <div class="social-share">
        <a href="/" class="icon icon-share" target="" title="">
            Share
        </a>
        <ul class="menu menu-hidden">
            <li data-network="facebook" class="st-custom-button network-facebook"><span>Facebook</span></li>
            <li data-network="twitter" class="st-custom-button network-twitter st-hide-label"><span>Twitter</span></li>
            <li data-network="email" class="st-custom-button network-email"><span>Email</span></li>
        </ul>
    </div>
    @*<button class="icon-print" onclick="window.print();">Print</button>*@
</section>