<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" >
    <sitecore>
        <settings>
            <setting name="ContentSearch.ParallelIndexing.Enabled" value="true" />
        </settings>
        <solutionFramework>
            <indexing>
                <!--<patch:attribute name="defaultProvider">fallback</patch:attribute>
                <providers>
                    <add name="fallback" type="Wageworks.Foundation.Indexing.Infrastructure.Providers.FallbackSearchResultFormatter, Wageworks.Foundation.Indexing" />
                </providers>-->
            </indexing>
        </solutionFramework>
        <contentSearch>
            <indexConfigurations>
                <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
                    <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
                        <fieldNames hint="raw:AddFieldByFieldName">
                            <field fieldName="all_templates" returnType="stringCollection" />
                            <field fieldName="has_presentation" returnType="bool" />
                            <field fieldName="has_search_result_formatter" returnType="bool" />
                            <field fieldName="search_result_formatter" returnType="string" />
                        </fieldNames>
                        <typeMatches hint="raw:AddTypeMatch">
                            <typeMatch patch:before="*[@typeName='textCollection']"
                                       type="System.Collections.Generic.List`1[System.String]" typeName="lowercaseStringCollection" 
                                       fieldNameFormat="{0}_lcsm" multiValued="true" 
                                       settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider"/>
                        </typeMatches>
                    </fieldMap>
                    <virtualFields type="Sitecore.ContentSearch.VirtualFieldProcessorMap, Sitecore.ContentSearch">
                        <processors hint="raw:AddFromConfiguration">
                            <add fieldName="content_type" type="Wageworks.Foundation.Indexing.Infrastructure.Fields.SearchResultFormatterComputedField, Wageworks.Foundation.Indexing"/>
                        </processors>
                    </virtualFields>
                    <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="has_presentation" storageType="no" indexType="untokenized">Wageworks.Foundation.Indexing.Infrastructure.Fields.HasPresentationComputedField, Wageworks.Foundation.Indexing</field>
                            <field fieldName="all_templates" storageType="no" indexType="untokenized">Wageworks.Foundation.Indexing.Infrastructure.Fields.AllTemplatesComputedField, Wageworks.Foundation.Indexing</field>
                            <field fieldName="has_search_result_formatter" storageType="no" indexType="untokenized">Wageworks.Foundation.Indexing.Infrastructure.Fields.HasSearchResultFormatterComputedField, Wageworks.Foundation.Indexing</field>
                            <field fieldName="search_result_formatter" storageType="no" indexType="untokenized">Wageworks.Foundation.Indexing.Infrastructure.Fields.SearchResultFormatterComputedField, Wageworks.Foundation.Indexing</field>
                        </fields>
                        
                    </documentOptions>
                </defaultSolrIndexConfiguration>
            </indexConfigurations>
      <configuration>
        <indexes>
          <index id="sitecore_web_index">
            <enableFieldLanguageFallback>true</enableFieldLanguageFallback>
            <enableItemLanguageFallback>true</enableItemLanguageFallback>
          </index>
          <index id="sitecore_master_index" role:require="Standalone or ContentManagement">
            <enableFieldLanguageFallback>true</enableFieldLanguageFallback>
            <enableItemLanguageFallback>true</enableItemLanguageFallback>
          </index>
        </indexes>
      </configuration>
        </contentSearch>
    </sitecore>
</configuration>