<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <settings>
            <setting name="Analytics.TrackingCookieDisabler.AllowedCountries" set:value="US|USA|CA|Canada" />
            <setting name="Analytics.ForwardedRequestHttpHeader" set:value="X-Forwarded-For" />
        </settings>
        <!--<pipelines>
            <startAnalytics>
                <processor type="WageWorks.Foundation.Analytics.Pipelines.TrackingCookieDisabler, WageWorks.Foundation.Analytics" 
                           patch:after="processor[@type='Sitecore.Analytics.Pipelines.StartAnalytics.CheckPreconditions, Sitecore.Analytics']" />
            </startAnalytics>
        </pipelines>-->
    </sitecore>
</configuration>