@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="nav-wrapper">
    <nav>
        <ul class="nav-left">
            <li>
                @Html.Sitecore().Placeholder("navbar-left")
            </li>
            <div class="nav-left-options">
                @* navigation *@
                @Html.Sitecore().Placeholder("navbar-top")

            </div>

            @Html.Sitecore().Placeholder("navbar-right") @*//global search*@  
        </ul>

        <ul class="nav-right">
            @* right nav *@

            <div class="nav-login">
                <a href="/">Login</a>
                <a href="#"><div class="burgermenu"></div></a>
            </div>

            @Html.Sitecore().Placeholder("navbar-center")

        </ul>
    </nav>
</div>