@using WageWorks.Feature.Navigation
@using WageWorks.Foundation.SitecoreExtensions.Extensions
@using WageWorks.Feature.Navigation.Extensions

@model WageWorks.Feature.Navigation.Models.NavigationItems


@foreach (var socialMenu in Model.NavItems)
{
    <li>
        <a href="@socialMenu.Url">
            @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle, socialMenu.Item)
        </a>

    </li>
}
