<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <getRenderingDatasource>
                <processor type="Wageworks.Foundation.Multisite.Pipelines.GetDatasourceLocationAndTemplateFromSite, Wageworks.Foundation.Multisite" resolve="true" patch:after="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']" />
            </getRenderingDatasource>
            <httpRequestBegin>
                <!--Fix of switching to default site instead of one matched by domain-->
                <processor type="Sitecore.ExperienceEditor.Pipelines.HttpRequest.ResolveContentLanguage, Sitecore.ExperienceEditor">
                    <patch:attribute name="type" value="Wageworks.Foundation.Multisite.Pipelines.ResolveContentLanguage, Wageworks.Foundation.Multisite" />
                </processor>

                <!--<processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                           type="Wageworks.Foundation.Multisite.Pipelines.HttpRequest.WageworksItemResolver, Wageworks.Foundation.Multisite">
                    <sites hint="list:AddSite">
                        <fp>FederalPremium</fp>
                        <sa>SavageArms</sa>
                    </sites>
                </processor>-->
            </httpRequestBegin>
        </pipelines>
        <commands>
            <command name="multisite:createdatasourcesetting" type="Wageworks.Foundation.Multisite.Commands.CreateRenderingSettings, Wageworks.Foundation.Multisite" />

            <!--Fix of switching to default site instead of one matched by domain-->
            <command name="webedit:openexperienceeditor" type="Sitecore.Shell.Applications.WebEdit.Commands.OpenExperienceEditor, Sitecore.ExperienceEditor">
                <patch:attribute name="type" value="Wageworks.Foundation.Multisite.Commands.OpenExperienceEditor, Wageworks.Foundation.Multisite" />
            </command>
        </commands>
        <settings>
            <setting name="Foundation.Multisite.DatasourceDialogRoot" value="/sitecore/layout/renderings" />
            <setting name="Preview.ResolveSite">
                <patch:attribute name="value" value="true" />
            </setting>
        </settings>
        <services>
            <configurator type="Wageworks.Foundation.Multisite.ServicesConfigurator, Wageworks.Foundation.Multisite" />
        </services>

    </sitecore>
</configuration>