<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <metadata.getPageMetadata>
                <processor type="WageWorks.Feature.Metadata.Infrastructure.Pipelines.GetPageMetadata.SetFromContext, WageWorks.Feature.Metadata" resolve="true"/>
                <processor type="WageWorks.Feature.Metadata.Infrastructure.Pipelines.GetPageMetadata.SetFromPage, WageWorks.Feature.Metadata" resolve="true"/>
                <processor type="WageWorks.Feature.Metadata.Infrastructure.Pipelines.GetPageMetadata.CombineTitle, WageWorks.Feature.Metadata" resolve="true"/>
            </metadata.getPageMetadata>
        </pipelines>

    </sitecore>
</configuration>