@using Wageworks.Feature.Identity
@using Wageworks.Feature.Identity.Repositories
@using Wageworks.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@{
  var identity = IdentityRepository.Get(Model.Item);
  if (identity == null)
  {
    return;
  }
}
<span class="copyright">
  @Html.Sitecore().Field(Templates.Identity.Fields.Copyright, identity)
</span>