@model WageWorks.Feature.Teasers.Models.CallToActionLinkModel
@using WageWorks.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Diagnostics

@try
{

<div class="link-underline ib mr-20">

    <a href="@Model.Url" target="@Model.Target" class="@Model.CssClass">
        @Html.Raw(Model.Name)
    </a>
    </div>
}
catch(Exception ex)
{
    Log.Error("Error in view _CallToAction.cshtml: ", ex.Message + ex.StackTrace);
}

