<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore>
        <sites>
            <!--Local or CM config to point to master-->
            <site patch:before="*[@name='website']"
                  name="WageWorks"
                  hostName="$(rootHostName).wageworks.$(domainExtension)"
                  virtualFolder="/"
                  physicalFolder="/"
                  rootPath="/sitecore/content/WageWorks/"
                  loginPage="/accounts/login"
                  startItem="/home"
                  database="web"
                  content="master"
                  domain="wageworks"
                  allowDebug="true"
                  cacheHtml="true"
                  htmlCacheSize="10MB"
                  registryCacheSize="0"
                  viewStateCacheSize="0"
                  xslCacheSize="5MB"
                  filteredItemsCacheSize="2MB"
                  enablePreview="true"
                  enableWebEdit="true"
                  enableDebugger="true"
                  disableClientData="false"
                  enableFieldLanguageFallback="true"
                  enableItemLanguageFallback="true"
                  dictionaryPath="{F5184B82-306A-4CD3-8FDB-3D1E03D3D14E}"
                  dictionaryAutoCreate="true"
                  headerItem="{8DD77BA5-6F27-4A20-BBC5-DF50241511E7}"
                  footerItem="{BA0F7308-F807-482F-84DD-A66B30630809}" />
            <!--CD config to point to web DBs-->
            <site name="WageWorks" role:require="ContentDelivery">
                <patch:attribute name="content">web</patch:attribute>
                <patch:attribute name="allowDebug">false</patch:attribute>
                <patch:attribute name="dictionaryAutoCreate">false</patch:attribute>
            </site>
            <site name="WageWorks" role:require="ContentManagement">
                <patch:attribute name="database">master</patch:attribute>
            </site>
            <!--CD PROD only config to point to CDN-->
            <site name="WageWorks" env:require="PRD" role:require="ContentDelivery">
            </site>
        </sites>
        <domainManager>
            <domains>
                <domain id="wageworks" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
                    <param desc="name">$(id)</param>
                    <ensureAnonymousUser>true</ensureAnonymousUser>
                </domain>
            </domains>
        </domainManager>
        <events role:require="Standalone or ContentManagement">
            <event name="publish:end">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="wageworks">wageworks</site>
                    </sites>
                </handler>
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="wageworks">wageworks</site>
                    </sites>
                </handler>
            </event>
        </events>
        <pipelines>
            <mvc.getPageRendering>
                <processor type="WageWorks.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, WageWorks.Foundation.Assets">
                    <siteAssets hint="raw:AddAsset">
                        <asset type="Css" file="/assets/styles/css/wageworks-styles.min.css" site="WageWorks" />
                        <asset type="JavaScript" file="/assets/scripts/Project.WageWorks.js" location="Body" site="WageWorks"/>
                    </siteAssets>
                </processor>
            </mvc.getPageRendering>
        </pipelines>
    </sitecore>
</configuration>