<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Project.SpeerAmmo.Website" description="SpeerAmmo content" dependencies="Foundation.*,Feature.*,Project.Common" extends="Helix.Project">
                    <predicate>
                        <include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/SpeerAmmo" />
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/SpeerAmmo" />
                        <include name="Models" database="master" path="/sitecore/layout/models/Project/SpeerAmmo" />

                        <include name="Content" database="master" path="/sitecore/content/SpeerAmmo" />
                        <include name="Media" database="master" path="/sitecore/media library/Project/SpeerAmmo" />
                        <include name="Metadata" database="master" path="/sitecore/system/settings/feature/metadata/SpeerAmmo" />

                        <include name="Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/SpeerAmmo" />
                        <include name="Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/SpeerAmmo" />
                        <include name="Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/SpeerAmmo" />
                        <include name="Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/SpeerAmmo" />

                        <include name="Facets" database="master" path="/sitecore/system/Settings/Buckets/Facets/Project/SpeerAmmo" />
                        <include name="Forms" database="master" path="/sitecore/Forms/SpeerAmmo" />
                        <include name="Branches" database="master" path="/sitecore/templates/Branches/Project/SpeerAmmo" />
                    </predicate>
                    <rolePredicate>
                        <include domain="SpeerAmmo" pattern="^Project SpeerAmmo .*$" />
                    </rolePredicate>
                    <!--
                    TODO: Bug in Unicorn with SC v9?
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="extranet" pattern="^((?!Anonymous).)*$" />
                    </userPredicate>
                    <userSyncConfiguration defaultPassword="b" minPasswordLength="1" />
-->
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>