<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore>
        <sites>
            <!--Local or CM config to point to master-->
            <site patch:before="*[@name='website']"
                  name="SpeerAmmo"
                  hostName="$(rootHostName).speer-ammo.$(domainExtension)"
                  virtualFolder="/"
                  physicalFolder="/"
                  rootPath="/sitecore/content/SpeerAmmo/"
                  loginPage="/accounts/login"
                  startItem="/home"
                  database="web"
                  content="master"
                  domain="speerammo"
                  allowDebug="true"
                  cacheHtml="true"
                  htmlCacheSize="10MB"
                  registryCacheSize="0"
                  viewStateCacheSize="0"
                  xslCacheSize="5MB"
                  filteredItemsCacheSize="2MB"
                  enablePreview="true"
                  enableWebEdit="true"
                  enableDebugger="true"
                  disableClientData="false"
                  enableFieldLanguageFallback="true"
                  enableItemLanguageFallback="true"
                  dictionaryPath="{F5184B82-306A-4CD3-8FDB-3D1E03D3D14E}"
                  dictionaryAutoCreate="true"
                  linkProvider="vista"
                  productSearchIndex="speerammo_web_index"
                  headerItem="{8DD77BA5-6F27-4A20-BBC5-DF50241511E7}"
                  footerItem="{BA0F7308-F807-482F-84DD-A66B30630809}"
                  productsRoot="{6FB9537E-686E-4AC8-B6F4-D35237AEF9E9}"
                  productsCatalogRoot="/sitecore/Commerce/Catalog Management/Catalogs/SpeerAmmo_Catalog"
                  commerceEnabled="true"/>
            <!--CD config to point to web DBs-->
            <site name="SpeerAmmo" role:require="ContentDelivery">
                <patch:attribute name="content">web</patch:attribute>
                <patch:attribute name="allowDebug">false</patch:attribute>
                <patch:attribute name="dictionaryAutoCreate">false</patch:attribute>
                <patch:attribute name="productSearchIndex">speerammo_web_index</patch:attribute>
            </site>
            <site name="SpeerAmmo" role:require="ContentManagement">
                <patch:attribute name="productSearchIndex">speerammo_master_index</patch:attribute>
                <patch:attribute name="database">master</patch:attribute>
            </site>
            <!--CD PROD only config to point to CDN-->
            <site name="SpeerAmmo" env:require="PRD" role:require="ContentDelivery">
                <patch:attribute name="cdnHostname">https://cdn-speer-ammo2.azureedge.net</patch:attribute>
            </site>
            <!--Approved config to point to approved DBs-->
            <site role:require="Standalone or ContentManagement"
                    patch:before="*[@name='website']"
                    name="SpeerAmmoPreview"
                    hostName="$(rootPreviewHostName).speer-ammo.$(domainExtension)"
                    virtualFolder="/"
                    physicalFolder="/"
                    rootPath="/sitecore/content/SpeerAmmo/"
                    loginPage="/accounts/login"
                    startItem="/home"
                    database="master"
                    content="master"
                    domain="speerammo"
                    allowDebug="true"
                    cacheHtml="true"
                    htmlCacheSize="10MB"
                    registryCacheSize="0"
                    viewStateCacheSize="0"
                    xslCacheSize="5MB"
                    filteredItemsCacheSize="2MB"
                    enablePreview="true"
                    enableWebEdit="true"
                    enableDebugger="true"
                    disableClientData="false"
                    enableFieldLanguageFallback="true"
                    enableItemLanguageFallback="true"
                    dictionaryPath="{F5184B82-306A-4CD3-8FDB-3D1E03D3D14E}"
                    dictionaryAutoCreate="true"
                    linkProvider="vista"
                    staging="true"
                    productSearchIndex="speerammo_master_index"
                  headerItem="{8DD77BA5-6F27-4A20-BBC5-DF50241511E7}"
                  footerItem="{BA0F7308-F807-482F-84DD-A66B30630809}"
                  productsRoot="{6FB9537E-686E-4AC8-B6F4-D35237AEF9E9}"
                  productsCatalogRoot="/sitecore/Commerce/Catalog Management/Catalogs/SpeerAmmo_Catalog"
                  commerceEnabled="true"/>
        </sites>
        <settings>
            <setting name="Vista.Project.SpeerAmmo.DealerLocator.BrandId" value="2" />
            <setting name="Vista.Project.SpeerAmmo.DealerLocator.DistributorBrandId" value="12" />
            <setting name="Vista.Project.SpeerAmmo.DealerLocator.PremiumDealerBrandId" value="10|11" />
        </settings>
        <domainManager>
            <domains>
                <domain id="speerammo" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
                    <param desc="name">$(id)</param>
                    <ensureAnonymousUser>true</ensureAnonymousUser>
                </domain>
            </domains>
        </domainManager>
        <events role:require="Standalone or ContentManagement">
            <event name="publish:end">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="speerammo">speerammo</site>
                    </sites>
                </handler>
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="speerammo">speerammo</site>
                    </sites>
                </handler>
            </event>
        </events>
        <pipelines>
            <mvc.getPageRendering>
                <processor type="Vista.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Vista.Foundation.Assets">
                    <siteAssets hint="raw:AddAsset">
                        <asset type="Css" file="/assets/styles/css/speer-styles.min.css" site="SpeerAmmo||SpeerAmmoPreview" />
                        <asset type="Css" file="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" site="SpeerAmmo||SpeerAmmoPreview" />
                        <asset type="JavaScript" file="/assets/scripts/Vista.SpeerAmmo.js" location="Body" site="SpeerAmmo||SpeerAmmoPreview"/>
                        <asset type="JavaScript" file="/assets/scripts/vendor/Chart.bundle.min.js" location="Body" site="SpeerAmmo||SpeerAmmoPreview"/>
                        <asset type="JavaScript" file="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" location="Head" site="SpeerAmmo||SpeerAmmoPreview"/>
                    </siteAssets>
                </processor>
            </mvc.getPageRendering>
        </pipelines>
         <contentSearch>
            <configuration>
                <indexes hint="list:AddIndex">
                    <index id="speerammo_master_index" role:require="Standalone or ContentManagement" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
                        <param desc="name">$(id)</param>
                        <param desc="core">$(id)</param>
                        <param ref="contentSearch/indexConfigurations/databasePropertyStore" desc="propertyStore" param1="$(id)"/>
                        <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration"/>
                        <strategies hint="list:AddStrategy">
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster"/>
                        </strategies>
                        <locations hint="list:AddCrawler">
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>master</Database>
                                <Root>/sitecore/content/SpeerAmmo</Root>
                            </crawler>
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>master</Database>
                                <Root>/sitecore/Commerce/Catalog Management/Catalogs/SpeerAmmo_Catalog</Root>
                            </crawler>
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>master</Database>
                                <Root>/sitecore/media library/DAM/Speer</Root>
                            </crawler>
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>master</Database>
                                <Root>/sitecore/content/speer-shared-data</Root>
                            </crawler>
                        </locations>
                        <enableItemLanguageFallback>false</enableItemLanguageFallback>
                        <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
                    </index>
                    <index id="speerammo_web_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
                        <param desc="name">$(id)</param>
                        <param desc="core">$(id)</param>
                        <param ref="contentSearch/indexConfigurations/databasePropertyStore" desc="propertyStore" param1="$(id)"/>
                        <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration"/>
                        <strategies hint="list:AddStrategy">
                            <strategy role:require="Standalone or ContentManagement" ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsyncSingleInstance"/>
                            <strategy role:require="ContentDelivery" ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" />
                        </strategies>
                        <locations hint="list:AddCrawler" role:require="Standalone or ContentManagement" >
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>web</Database>
                                <Root>/sitecore/content/SpeerAmmo</Root>
                            </crawler>
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>web</Database>
                                <Root>/sitecore/Commerce/Catalog Management/Catalogs/SpeerAmmo_Catalog</Root>
                            </crawler>
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>web</Database>
                                <Root>/sitecore/media library/DAM/Speer</Root>
                            </crawler>
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>web</Database>
                                <Root>/sitecore/content/speer-shared-data</Root>
                            </crawler>
                        </locations>
                        <enableItemLanguageFallback>true</enableItemLanguageFallback>
                        <enableFieldLanguageFallback>true</enableFieldLanguageFallback>
                    </index>
                </indexes>
            </configuration>
        </contentSearch>
    </sitecore>
</configuration>